<div>
  <span
    id="nav-color"
    [ngStyle]="{ border: 'none' }"
    data-bs-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    <h5>
      <strong> Languages </strong>
    </h5>
  </span>

  <div className="collapse" id="collapseExample">
    <div>
      <span id="nav-color">HTML&CSS</span>
      <span id="nav-color">JavaScript</span>
      <span id="nav-color">Python</span>
      <span id="nav-color">C++</span>
      <span id="nav-color">Java</span>
      <span id="nav-color">C#</span>
      <span id="nav-color">Ruby</span>
      <span id="nav-color">Node JS</span>
    </div>
  </div>

  <span
    id="nav-color"
    [ngStyle]="{ backgroundColor: '#fff0e5', border: 'none' }"
    data-bs-toggle="collapse"
    href="#collapseExample1"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    <h5>
      <strong> Subject </strong>
    </h5>
  </span>

  <div className="collapse" id="collapseExample1">
    <div>
      <span id="nav-color">Web Development</span>
      <span id="nav-color">Data Science</span>
      <span id="nav-color">Computer Science</span>
      <span id="nav-color">Machine learning</span>
      <span id="nav-color">Developer Tools</span>
      <span id="nav-color">Web Design</span>
      <span id="nav-color">Game development</span>
      <span id="nav-color">Interview Prep</span>
    </div>
  </div>
  <h6 id="nav-color">Full Catalog</h6>
  <h6 id="nav-color">Where do i begin?</h6>
</div>
